NODE_ENV=development
PORT=3009

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=billing_db

CORS_ORIGIN=http://localhost:5173

# Servicios internos (para read-models bajo demanda)
ORG_SERVICE_URL=http://localhost:3002
CUSTOMER_SERVICE_URL=http://localhost:3004
PRODUCT_SERVICE_URL=http://localhost:3006
TAX_SERVICE_URL=http://localhost:3005

# RabbitMQ (opcional para Fase 2)
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# JWT para validar claims del gateway
JWT_PUBLIC_KEY_PATH=certs/public.pem
JWT_ISSUER=cmr-auth
JWT_AUDIENCE=cmr-api
